body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 20px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

button {
    padding: 10px 24px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image img {
    width: 500px;
    height: auto;
    background-color: #6b7280;
}