body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 20px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

button {
    padding: 10px 24px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image img {
    width: 500px;
    height: auto;
    background-color: #6b7280;
}

.info-section {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 800px;
    margin: 80px;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 1;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;

}

.card p {
    font-size: 16px;
    color: #1f2937
}

.testimonial-section {
    background-color: #e5e7eb;
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
  }
  
  .quote-author {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .cta-section {
    background-color: #3882f6;
    margin: 80px auto;
    padding: 40px 80px;
    border-radius: 10px;
    max-width: 900px;
    color: white;
  }
  
  .cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cta-text h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .cta-text p {
    margin: 0;
    font-size: 16px;
  }
  
  .cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .footer {
    background-color: #1f2937; 
    color: #e5e7eb;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }
  